<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h2> <%=  3+2  %>    </h2>

    <p>Ejs is required by express internally so we do not need to require it.
        View means template so we are setting the view engine as ejs.
        We will have a view folder which will contain all the views. By default the view engine expects all the views inside this folder and express will look for them here. This will contain a .ejs file which will contain a mix of HTML and JS code.
    </p>

    <button>Click Me!</button>


    
</body>
</html>